﻿@model Aplicantform.Models.PelamarModelView

@*@{
        ViewBag.Title = "Edit";
    }*@
@*@using (Html.BeginForm())
    {*@
@*@Html.AntiForgeryToken()*@
<form style="color:#343a40">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nama</label>
                    @Html.EditorFor(model => model.nama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nomor HP</label>
                    @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.no_hp, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tanggal Lahir</label>
                    @Html.TextBoxFor(model => model.tanggal_lahir, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.tanggal_lahir, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Alamat</label>
                    @Html.EditorFor(model => model.alamat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Jurusan</label>
                    @Html.DropDownListFor(model => model.jurusan, (IEnumerable<SelectListItem>)ViewBag.ListJurusan, "-Pilih Jurusan-", new { @class = "form-control", style = "width:100%; max-width: 100%" })
                    @Html.ValidationMessageFor(model => model.jurusan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pertanyaan</label>
                    @Html.TextAreaFor(model => model.pertanyaan, new { @class = "form-control", style = "height:70px;  width:100%; max-width: 100%" })
                    @Html.ValidationMessageFor(model => model.pertanyaan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:15px">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-default col-md-offset-7" id="btn_edit_save" style="background-color:#1181d1; color:white; float:right" />
            </div>
        </div>
    </div>
</form>


@*}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
