﻿
@{
    ViewBag.Title = "Galeri";
}

<div style="padding-left:20px; padding-top:7px">
    <h2 style="font-family:fantasy; color:#976755">Galery</h2>
</div>




<form>
    <div class="row">
        <div class="col-lg-12">
            <img class="gambar" src="~/Content/Galery/DSC_0433.JPG" style="width:700px" />
        </div>
    </div>
    <div class="row" style="padding-top:100px">
        <div class="col-lg-6">
            <img class="gambar" src="~/Content/Galery/DSC_0355.JPG" style="width:300px" />
        </div>
        <div class="col-lg-6">
            <img class="gambar" src="~/Content/Galery/IMG-20191126-WA0042.jpg" style="width:300px" />
        </div>
    </div>

</form>

<style>
    .gambar {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>