﻿@model IEnumerable<Aplicantform.Models.PelamarModelView>

@{
    ViewBag.Title = "List";
}
<div style="padding-left:20px; padding-top:7px">
    <h2 style="font-family:fantasy; color:#976755">Daftar Peserta Bootcamp</h2>
</div>
@*<div>
        <a href="#" title="Tambah Data" id="btn_create" name="btn_create">
            <span class="glyphicon glyphicon-plus-sign" style="font-size:20px;color:#050569"></span>
        </a>
    </div>*@
<table class="table">
    <tr>
        <th>
            Nama
        </th>
        <th>
            Nomor HP
        </th>
        <th>
            Email
        </th>
        <th>
            Tanggal Lahir
        </th>
        <th>
            Alamat
        </th>
        <th>
            Jurusan
        </th>
        <th>
            Pertanyaan
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jurusan_show)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pertanyaan)
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle btn" href="#" type="button" data-toggle="dropdown" style="background-color: #976755; color: white">
                        More
                        <span class="caret" style="border-top: 4px solid #FFFFFF"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="#" id="detail-sales" data-id="@item.id" style="color:#343a40">
                                <i class="far fa-circle"></i>
                                Detail
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" id="edit-sales" data-id="@item.id" style="color:#343a40">
                                <i class="far fa-circle"></i>
                                Edit
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" id="delete-sales" data-id="@item.id" style="color:#343a40">
                                <i class="far fa-circle"></i>
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
