﻿@model WFO.Models.SalesGetListAll

<div>
    <dl class="dl-horizontal">
        <dt>
            Nama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            NIK
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIK)
        </dd>

        <dt>
            Tempat Lahir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bop)
        </dd>

        <dt>
            Tanggal Lahir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>

        <dt>
            Alamat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat)
        </dd>

        <dt>
            Nomor HP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_hp)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Posisi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIK_post)
        </dd>

    </dl>
</div>
