﻿@model WFO.Models.SalesGetListAll


<div class="form-horizontal">
    @Html.HiddenFor(model => model.id)
    <div class="form-group">
        <div class="control-label col-md-2">Nama</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Tempat Lahir</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.bop, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bop, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Tanggal Lahir</div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.dob, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Alamat</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.alamat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Nomor HP</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.no_hp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Email</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Posisi</div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.position, (IEnumerable<SelectListItem>)ViewBag.PositionList, "-Pilih-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div style="float:right">
            <input type="submit" value="Edit" class="btn btn-default" id="btn_edit_save" style="background-color:#050569; color:white" />
        </div>
    </div>
</div>

