﻿@model IEnumerable<WFO.Models.SalesGetListAll>

<h2 style="color:#050569">List</h2>

<p>
    <a href="#" title="Tambah Data" id="btn_create" name="btn_create">
        <span class="glyphicon glyphicon-plus-sign" style="font-size:20px;color:#050569"></span>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Nama
        </th>
        <th>
            NIK
        </th>
        <th>
            Posisi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIK_post)
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle btn" href="#" type="button" data-toggle="dropdown" style="background-color: #050569; color: white">More <span class="caret" style="border-top: 4px solid #FFFFFF"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="detail-sales" data-id="@item.id">Detail</a></li>
                        <li><a href="#" id="edit-sales" data-id="@item.id">Edit</a></li>
                        <li><a href="#" id="delete-sales" data-id="@item.id">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
